# ?????? ?? ?? ??? ?????, 8000?? ?? ? ??? ??? ???
server:
  port: {PORT:8000}

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      # ???(?? ??) ???? ???
      routes:
        # Budget Server API ???
        - id: budget-server-route  # ?? ?? ID
          # ??? ??? Eureka ??? ??? budget-server? ???
          # lb:? load balancer? ???? ???
          uri: lb://budget-server
          # ??? ?? ??? ???
          predicates:
            - Path=/budget/** # API Path? /budget/? ???? ?? ??? ???
        # Budget Server API docs ???
        - id: budget-server-apidocs
          uri: lb://budget-server # Eureka? ??? ??? ID
          predicates:
            - Path=/apidocs/budget-server/** # /apidocs/budget-server/index.html
          filters:
            - RewritePath=/apidocs/budget-server/(?<segment>.*), /docs/$\{segment} # /docs/index.html
# Eureka ?? ?? ??
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Eureka ??? ??

gateway:
  secret: ${GATEWAY_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}

# ?? ?? ??
logging:
  level:
    # ?????? ??? ?? ??? ??
    org.springframework.cloud.gateway: TRACE
    # Netty ?????/??? ?? ?? ??
    reactor.netty.http.client: DEBUG
    reactor.netty.http.server: DEBUG