# 공통
spring:
  application:
    name: budget-server
server:
  port: ${PORT:8080}

--- # 문서 구분자

# local
spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres2
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:                   # HikariCP Connection Pool
      minimum-idle: 5         # Pool 유지 최소 유휴 Connection 수
      maximum-pool-size: 10   # Pool의 최대 Connection 수 (너무 크면 DB 부하, 너무 작으면 대기 발생)
      idle-timeout: 30000     # Connection의 유휴 상태 유지 최대 시간 (ms)
      max-lifetime: 1800000   # Connection 최대 유지 시간 (ms). DB 설정 wait_timeout보다 짧아야 함
      pool-name: HikariPool-1
      keepalive-time: 30000   # 30초마다 DB Ping 통해 Connection 여부 확인
      validation-timeout: 5000 # connection 유효성 검사 타임아웃
  jpa:
    hibernate:
      ddl-auto: none # Flyway를 사용하므로 Hibernate의 DDL 자동 생성 기능은 끔
      show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  flyway:
    enabled: true
    clean-disabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
  kafka:
    producer:
      bootstrap-servers: localhost:9092 # Kafka cluster 초기 연결 Port
  ai:
    ollama:
      base-url: http://localhost:11434
      init:
        pull-model-strategy: when_missing
        embedding:
          additional-models:
            - mxbai-embed-large
            - nomic-embed-text
        timeout: 60s
        max-retries: 1
      chat:
        options:
          model: llama3.2
          temperature: 0.5
          top-p: 0.5
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 1024
        batching-strategy: TOKEN_COUNT # Optional: Controls how documents are batched for embedding
        max-document-batch-size: 10000 # Optional: Maximum number of documents per batch

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka # eureka-server 주소
  instance:
    instance-id: ${spring.application.name}:${random.value} # eureka-server 대시보드에 등록될 식별값

gateway:
  secret: ${GATEWAY_SECRET}

feign:
  circuitbreaker:
    enabled: true
  client:
    config:
      default:
        loggerLevel: BASIC
  httpclient:
    hc5:
      enabled: true

# Resilience4j Circuit Breaker 설정
resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED # 요청 수 기준
        slidingWindowSize: 10 # close > open 상태 변경에 대해 최근 10번 요청 기준
        minimumNumberOfCalls: 5 # close > open 상태 변경 판단 위한 최소 요청 수 5번 제한
        failureRateThreshold: 50 # minimumNumberOfCalls 이상 실패율 50% 이상 시 close > open 상태 변경
        waitDurationInOpenState: 10s # 서킷 open 시간으로, 이후부터 half-open 상태로 변경하여 복구 시작
        permittedNumberOfCallsInHalfOpenState: 2 # half-open 상태에서 허용할 테스트 요청 수
        automaticTransitionFromOpenToHalfOpenEnabled: true # waitDurationInOpenState 이후 자동으로 open > half-open 상태 변경할지 여부
    instances:
      OpenBankingFeignClient: # Feign 클라이언트별 개별 설정
        baseConfig: default # 위 default 설정 상속
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 500ms
        retryExceptions:
          - java.io.IOException
          - java.util.concurrent.TimeoutException
    instances:
      OpenBankingFeignClient:
        baseConfig: default

openbanking:
  api:
    base-url: https://developers.nonghyup.com

sentry:
  dsn: ${SENTRY_DSN} # Sentry에서 식별할 프로젝트 key
  send-default-pii: true # 사용자 개인정보(IP 등) 포함 여부
  exception-resolver-order: -2147483647 # 스프링 예외 처리 체인에서 가장 먼저 실행되도록 설정
  traces-sample-rate: 1.0 # 성능 모니터링 샘플링 비율 (1.0 = 100% 모든 트래잭션 수집)
  logging:
    minimum-event-level: error # Error 레벨만 이슈로 생성
    minimum-breadcrumb-level: info # 에러 발생 경로 추적을 위해 Info 로그도 수집

logging:
  level:
    org.hibernate.SQL: debug # 실행 쿼리 debug
    org.hibernate.orm.jdbc.bind: trace # 실행 쿼리 binding variables 확인
    com.teady.budgetserver.adapter.secondary.openapi.openbanking: DEBUG # 특정 패키지 debug
    feign: DEBUG # feign 통신 상세 로그 debug

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,circuitbreakers # actuator 노출 end-potins
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

---

# prod
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 30000
      max-lifetime: 1800000
      pool-name: HikariPool-1
      keepalive-time: 30000
      validation-timeout: 5000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
        jdbc:
          batch_size: 20
          fetch_size: 50
        order_inserts: true
        order_updates: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}
    fetch-registry: true
    register-with-eureka: true
    healthcheck:
      enabled: true
    instance-info-replication-interval-seconds: 30
  instance:
    hostname: ${RENDER_EXTERNAL_HOSTNAME} # eureka-server로 application 질의 시 응답할 host의 도메인
    prefer-ip-address: false # 도메인 대신 IP 설정 false
    instance-id: ${spring.application.name}:${random.value} # eureka-server에 등록될 고유 id
#  - 이슈: API Response Timeout
#  - 상황: BudgetApp <> MSA(gateway-server, eureka-server, budget-server)
#  (1) BudgetApp에서 API 요청 to gateway-server
#  (2) gateway-server에서 eureka-server로 budget-server의 Host(domain preferred to ip) 질의
#  (3) eureka-server에서 http://budget-server-mb4y.onrender.com:10000 응답
#  (4) gateway-server에서 API 요청 to budget-server
#  => https://budget-server-xxxx.onrender.com:10000/{api_path}
#  (5) Timeout 발생
#  => 내부 Port인 10000 접근 불가
#  => 외부 Host를 내부 Host로 변경해봤지만 이 역시 접근 불가
#  => eureka-server에 budget-server의 경우 Host 응답 시 내부 Port 대신 외부 Secured Port 적용 제안
#  (6) gateway-server에서 API 요청 to budget-server
#  => https://budget-server-mb4y.onrender.com:443/{api_path}
#  (7) 정상 응답
    non-secure-port: 80
    secure-port: 443
    secure-port-enabled: true
    non-secure-port-enabled: false

gateway:
  secret: ${GATEWAY_SECRET}

openbanking:
  api:
    base-url: https://developers.nonghyup.com

sentry:
  dsn: ${SENTRY_DSN}
  exception-resolver-order: -2147483647
  traces-sample-rate: 1.0
  logging:
    minimum-event-level: error
    minimum-breadcrumb-level: info

logging:
  level:
    root: WARN
    com.teady.budgetserver: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN
    feign: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,circuitbreakers
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}